// Estilos para la sección visitamos
.visitamos-section {
    text-align: center;
}

.visitamos-section p {
    max-width: 600px;
    margin: 0 auto 20px auto;
}

//cris
.map {
    width: 100%;
    max-width: 100%;
    height: 400px;  /* Establece la altura que deseas */
}

iframe {
    width: 100%;
    height: 100%;
}