// Estilos para la sección hero
.hero-container {
    position: relative;
    width: 100%;
    min-height: 60vh;  // Usamos min-height para un poco más de control en diferentes pantallas
    overflow: hidden;
}

.hero-img {
    object-fit: cover;   // Cubre todo el contenedor, pero no deforma la imagen
    width: 100%;         // Hace que la imagen ocupe todo el ancho disponible
    height: 100%;        // La imagen ocupa todo el alto disponible
    position: absolute;
    top: 0;
    left: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    z-index: 1;
    padding: 0 20px;
}

.contenido-hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
    opacity: 1;
    animation: slideInUp 2s ease-out forwards;
}
